<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Описание-проекта" data-toc-modified-id="Описание-проекта-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Описание проекта</a></span></li><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Исследование-данных" data-toc-modified-id="Исследование-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследование данных</a></span><ul class="toc-item"><li><span><a href="#Общая-сумма-просмотров-постов-за-каждый-месяц-2008-года" data-toc-modified-id="Общая-сумма-просмотров-постов-за-каждый-месяц-2008-года-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Общая сумма просмотров постов за каждый месяц 2008 года</a></span></li><li><span><a href="#Имена-самых-активных-пользователей-по-кол-ву-ответов-на-вопросы" data-toc-modified-id="Имена-самых-активных-пользователей-по-кол-ву-ответов-на-вопросы-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Имена самых активных пользователей по кол-ву ответов на вопросы</a></span></li><li><span><a href="#Кол-во-постов-за-2008-год-по-месяцам" data-toc-modified-id="Кол-во-постов-за-2008-год-по-месяцам-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Кол-во постов за 2008 год по месяцам</a></span></li><li><span><a href="#Данные-об-опубликованных-постах" data-toc-modified-id="Данные-об-опубликованных-постах-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Данные об опубликованных постах</a></span></li><li><span><a href="#Взаимодействие-пользователей-с-платформой" data-toc-modified-id="Взаимодействие-пользователей-с-платформой-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Взаимодействие пользователей с платформой</a></span></li><li><span><a href="#Динамика-кол-ва-постов-в-%-по-месяцам-с-1-сентября-по-31-декабря-2008-года" data-toc-modified-id="Динамика-кол-ва-постов-в-%-по-месяцам-с-1-сентября-по-31-декабря-2008-года-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Динамика кол-ва постов в % по месяцам с 1 сентября по 31 декабря 2008 года</a></span></li><li><span><a href="#Динамика-активности-пользователя,-который-опубликовал-больше-всего-постов-за-всё-время" data-toc-modified-id="Динамика-активности-пользователя,-который-опубликовал-больше-всего-постов-за-всё-время-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Динамика активности пользователя, который опубликовал больше всего постов за всё время</a></span></li></ul></li><li><span><a href="#Общие-выводы" data-toc-modified-id="Общие-выводы-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общие выводы</a></span></li></ul></div>

# Активность пользователей сервиса Stackoverflow в 2008 году

## Описание проекта

**Цель** — изучить активность пользователей сервиса вопросов-и-ответов по программированию, Stack Overflow, за 2008 год.

**Задачи проекта**:

- посчитать общую сумму просмотров постов за каждый месяц 2008 года;
- определить самых активных по количеству ответов пользователей;
- изучить количество постов за 2008 год по месяцам;
- вывести данные об опубликованных постах;
- изучить взаимодействие пользователей с платформой в первую неделю декабря;
- проанализировать динамику количества постов в % по месяцам с 1 сентября по 31 декабря;
- изучить динамику активности пользователя,который опубликовал больше всего постов за весь анализируемый период.

## Загрузка данных

In [1]:
#импорт необходимых библиотек
import pandas as pd
import psycopg2 as ps
import pandas.io.sql as sqlio

In [2]:
#подключение к локальной базе данных PostgreSQL
conn2=ps.connect(dbname = 'stackoverflow', 
                user = 'postgres',
                password = 'lnusd572-89FnsW-s', 
                host = 'localhost',
                port = '5432')

## Исследование данных

### Общая сумма просмотров постов за каждый месяц 2008 года

Данные отсортированы в порядке убывания суммы просмотров и не включают месяцы с нулевым значением кол-ва просмотров.

In [3]:
#сгруппируем просмотры по дате создания постов и посчитаем их сумму
query = '''SELECT CAST(DATE_TRUNC('month', creation_date) AS date) AS create_date,
                  SUM(view_count) AS views_sum
           FROM posts
           WHERE view_count != 0 AND EXTRACT(YEAR FROM CAST(creation_date AS date)) = '2008'
           GROUP BY create_date
           ORDER BY views_sum DESC'''

sqlio.read_sql_query(query,conn2)

  create_date  views_sum
0  2008-09-01  471070280
1  2008-10-01  386690976
2  2008-11-01  245912222
3  2008-12-01  226573064
4  2008-08-01  133366451
5  2008-07-01     669895

**Вывод**

Самый активный месяц по кол-ву просмотров — **сентябрь**. Повышение активности в сентябре и октябре может быть связано с началом учебного года. Ближе к декабрю кол-во просмотров снижается. Слишком низкая активность наблюдается в **июле**. Возможно, что данные за этот месяц неполные.

### Имена самых активных пользователей по кол-ву ответов на вопросы

Для анализа отобраны пользователи, которые в первый месяц после регистрации (включая день регистрации) дали **больше 100 ответов**. В таблице для каждого имени пользователя выведено кол-во уникальных id пользователей, так как одному имени может соответствовать несколько id.

In [4]:
#отфильтруем данные, которые не попадают в первый месяц «существования» пользователя и не относятся к ответам
#сгруппируем данные об id по именам пользователей, затем оставим тех, кто дал более 100 ответов
query = '''SELECT display_name AS user_name,
                  COUNT(DISTINCT p.owner_id) AS user_id_sum
           FROM users AS u
           JOIN posts AS p ON p.owner_id = u.id

           WHERE DATE_TRUNC('day', p.creation_date) >= DATE_TRUNC('day', u.creation_date)
           AND DATE_TRUNC('day', p.creation_date) <= DATE_TRUNC('day', u.creation_date) + INTERVAL '1 month'

           AND p.post_type_id = 

           (SELECT id
           FROM post_type
           WHERE type = 'Answer')

           GROUP BY display_name
           HAVING COUNT(*) > 100
           ORDER BY user_name'''

sqlio.read_sql_query(query,conn2)

           user_name  user_id_sum
0   1800 INFORMATION            1
1      Aaron Digulla            1
2      Adam Bellaire            1
3         Adam Davis            1
4          Adam Liss            1
..               ...          ...
88         paxdiablo            1
89           strager            1
90        tvanfosson            1
91              tzot            1
92          workmad3            1

[93 rows x 2 columns]

### Кол-во постов за 2008 год по месяцам

Для анализа отобраны пользователи, которые **зарегистрировались в сентябре 2008 года** и сделали хотя бы один пост в декабре того же года. Данные отсортированы по убыванию месяца.

In [5]:
#отберём тех пользователей, которые зарегистрировались с 1 по 30 сентября и создали посты с 1 по 31 декабря
#данные сгруппируем и отсортируем по месяцу 
query = '''SELECT DATE_TRUNC('month', p.creation_date) :: date AS month_post,
                  COUNT(p.id)
           FROM posts AS p
           WHERE p.owner_id IN

           (SELECT DISTINCT u.id
            FROM users AS u
            JOIN posts AS p ON u.id = p.owner_id
            WHERE (u.creation_date :: date BETWEEN '2008-09-01' AND '2008-09-30') AND
            (p.creation_date :: date BETWEEN '2008-12-01' AND '2008-12-31'))

          GROUP BY 1
          ORDER BY month_post DESC'''

sqlio.read_sql_query(query,conn2)

   month_post  count
0  2008-12-01  19360
1  2008-11-01  19917
2  2008-10-01  29070
3  2008-09-01  26637
4  2008-08-01     32

**Вывод**

Стоит обратить внимание на **октябрь** — кол-во постов у сентябрьской когорты в этот месяц самое высокое, хотя общая сумма просмотров выше в сентябре. Ближе к декабрю активность пользователей, которые делают посты, снижается. Это соответствует общему тренду по кол-ву просмотров постов. 

В таблицу попали данные за август. Выходит, что пользователи, которые зарегистрировались в сентябре, были активны и в августе. Здесь явная **ошибка в данных**.

### Данные об опубликованных постах

Для анализа отобраны следующие признаки: идентификатор пользователя, который написал пост; дата создания поста; кол-во просмотров у текущего поста; сумма просмотров постов автора с накоплением.

In [6]:
#объединим данные в "окна" по каждому пользователю и отсортируем их по "возрастанию" даты создания поста
#отдельно посчитаем сумму с накомплением для каждого "окна"
query = '''SELECT owner_id,
                  creation_date,
                  view_count,
           SUM(view_count) OVER(PARTITION BY owner_id ORDER BY creation_date)
           FROM posts
           ORDER BY owner_id'''

sqlio.read_sql_query(query,conn2)

        owner_id           creation_date  view_count    sum
0              0 2008-08-01 05:12:44.193           0      0
1              0 2008-08-01 12:22:51.593           0      0
2              0 2008-08-01 12:30:57.630        8102   8102
3              0 2008-08-01 13:17:20.640        2450  10552
4              0 2008-08-01 14:41:01.110           0  10552
...          ...                     ...         ...    ...
274531   5696608 2008-12-24 01:02:48.070           0   2804
274532   5696608 2008-12-30 14:34:44.713           0   2804
274533   5696608 2008-12-30 15:46:47.657           0   2804
274534   5696608 2008-12-30 16:32:12.277           0   2804
274535   5696608 2008-12-31 18:32:39.287           0   2804

[274536 rows x 4 columns]

### Взаимодействие пользователей с платформой

Данные показывают, сколько в среднем дней в период с 1 по 7 декабря 2008 года включительно пользователи взаимодействовали с платформой. Для каждого пользователя отобраны дни, в которые он или она опубликовали хотя бы один пост.

In [7]:
#создадим временные таблицы rows и max_values: первая — с номерами дней, 
#вторая — с последним номером аквтивного дня
#посчитаем среднее значение номеров дней и округлим его
query = '''WITH rows AS
                (SELECT DISTINCT owner_id,
                creation_date :: date,
                DENSE_RANK() OVER(PARTITION BY owner_id ORDER BY EXTRACT(DAY FROM creation_date :: date)) AS rows
                FROM posts AS p
                WHERE creation_date :: date BETWEEN '2008-12-01' AND '2008-12-07'),

                max_values AS
                (SELECT DISTINCT owner_id,
                MAX(rows) OVER(PARTITION BY owner_id) AS max_days
                FROM rows)

          SELECT ROUND(AVG(max_days))
          FROM max_values'''

sqlio.read_sql_query(query,conn2)

   round
0    2.0

**Вывод**

В среднем пользователи взаимодействовали с платформой 2 дня за всю первую неделю декабря.

### Динамика кол-ва постов в % по месяцам с 1 сентября по 31 декабря 2008 года

Для анализа отобраны следующие признаки: номер месяца; количество постов за месяц; процент, который показывает, насколько изменилось количество постов в текущем месяце по сравнению с предыдущим.

In [8]:
#создадим временную таблицу posts с количеством постов на каждый месяц публикации заданного периода
#отдельно посчитаем процентную долю постов от предыдущего месяца
query = '''WITH posts AS
                (SELECT EXTRACT(MONTH FROM creation_date :: date) AS month_post,
                COUNT(id) AS posts_count
                FROM posts
                WHERE creation_date :: date BETWEEN '2008-09-01' AND '2008-12-31'
                GROUP BY month_post)

          SELECT month_post,
                 posts_count,
          ROUND(((posts_count :: numeric / LAG (posts_count) OVER (ORDER BY month_post) - 1)) * 100, 2)
          FROM posts
'''

sqlio.read_sql_query(query,conn2)

   month_post  posts_count  round
0         9.0        77220    NaN
1        10.0        70144  -9.16
2        11.0        54506 -22.29
3        12.0        53194  -2.41

**Вывод**

В **ноябре** виден наибольший спад кол-ва постов по сравнению с предыдущим месяцем. Необходимо понять, чем вызван такой резкий спад активности пользователей, создающих посты.

### Динамика активности пользователя, который опубликовал больше всего постов за всё время

Для анализа были взяты данные за октябрь 2008 года. В таблицу были включены следующие признаки: номер недели; дата и время последнего поста, опубликованного на этой неделе.

In [9]:
#определим дату и время последнего поста каждой недели октября 2008 года
#оставим данные, которые относятся к пользователю с самым большим кол-вом записей
query = '''SELECT DISTINCT
                  EXTRACT(WEEK FROM CAST(creation_date AS date)) AS week_post,
                  MAX(creation_date) OVER(PARTITION BY EXTRACT(WEEK FROM CAST(creation_date AS date)))
          FROM posts
          WHERE DATE_TRUNC('month', creation_date) = '2008-10-01'
          AND owner_id = 

            (
                SELECT owner_id
                FROM posts
                GROUP BY owner_id
                ORDER BY COUNT(*)  DESC
                LIMIT 1
            )'''

sqlio.read_sql_query(query,conn2)

   week_post                     max
0       40.0 2008-10-05 23:59:31.853
1       41.0 2008-10-12 23:48:11.580
2       42.0 2008-10-19 23:50:08.763
3       43.0 2008-10-26 23:38:53.520
4       44.0 2008-10-31 23:45:06.480

**Вывод**

Каждую неделю самый активный пользователь заканчивал публиковать посты около **полуночи**.

Как мы помним, в октябре кол-во постов самое высокое, а по кол-ву просмотров октябрь находится на втором месте. Возможно, снижение кол-во просмотров в октябре связано с **поздним временем активности пользователей**.

## Общие выводы

**В ходе анализа данных было определено, что:**

- пик активности по просмотрам приходится на сентябрь, что, скорее, связано с началом учебного года, затем показатель постепенно снижается;
- тренды по просмотрам и публикации постов в целом схожи, однако наибольшее кол-во постов сделано в октября, что не совпадает с пиком активности по просмотрам — возможно, что в октябре существенная часть постов была создана в поздее время, что повлияло на кол-во просмотров;
- в ноябре произошёл резкий спад кол-ва постов по сравнению с предыдущим месяцем — сейчас сказать сложно, чем он был вызван, требуется дополнительно изучить причины спада;
- в первую неделю декабря — месяца с самой низкой активностью пользователей за период с сентября по декабрь — пользователи в среднем взаимодействовали с платформой 2 дня.

**Ошибки в данных**

- в записи о пользователях, которые зарегистрировались в сентябре 2008 года, попали данные о публикации постов за август.